node_modules/
data/
.DS_Store
dist
*.iml
*.log
coverage
.idea
target/
.java-version
otp-middleware.iml
tmp/
deploy/

# Configurations
configurations/*
!configurations/default
!configurations/test

# Secret config files
.env
env.yml
env.yml-original
server.yml
# Test config is OK.
!configurations/test/env.yml