table {

}
td {
    border: 1px solid #ccc;
    position: relative;
}

tr.header > td {
    height: 210px;
    vertical-align: bottom;
}

tr.header > td > span {
    position: absolute;
  transform: rotate(270deg);
  transform-origin: 0 0;
  display: inline-block;
  width: 200px;
  height: 1em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
